# dependencies
node_modules/
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.*

# local docs not for repo
DATABASE_SCHEMA.md
database_schema.md

# macOS/windows
.DS_Store
Thumbs.db

#postman
.postman/
**.postman/
