.front-back-page {
  top: 42px;
}

.review {
  position: relative;
}

.review .car-ship-detai {
  position: absolute;
  bottom: 19px;
  left: -8px;
  background: #fff;
  padding: 10px;
  width: 100%;
  display: none;
  min-width: 160px;
  transform: rotateY(180deg);
  border: 1px solid #999;
  border-radius: 10px;
  white-space: normal;
}

.review .fa-truck:hover {
  font-size: 18px;
  cursor: pointer;
}

.review .car-ship:hover .car-ship-detai {
  display: block;
}

body .top-header {
  z-index: 99999;
}

body #header {
  z-index: 99;
}

#form-top {
  position: relative;
  z-index: 9999;
}

.content-standard-ck table {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 480px) {
  body .login-in-mobile a img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
  }
}

/*body .banner-store {
    margin-bottom: 60px;
}*/

body .form-create-store {
  line-height: unset;
}

body .form-create-store .help-block {
  margin: 0px;
}

.form-create-store .form-group {
  margin-bottom: unset;
}

.btn-green {
  line-height: 36px;
  height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 3px;
  background-color: var(--default-color);
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff !important;
  font-size: 13px;
  display: inline-block;
  padding: 0px 20px;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  border: none;
  margin-bottom: 11px;
  border: 1px solid var(--default-color);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  margin-left: 20px;
}
a:hover,
a:focus {
  text-decoration: none;
}

@media (max-width: 767px) {
  #box-load-search .item-address .btn-distance img {
    width: auto;
  }
}

#box-search-mobile {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: #fff;
  opacity: 0;
  right: -100%;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}

#box-search-mobile.open {
  opacity: 1;
  right: 0px;
}

/*video*/

.video-home {
  margin-top: -15px;
}

.img-item-video-up .video-img {
  position: relative;
  height: 210px;
  overflow: hidden;
}

.img-item-video-up .white {
  background: #fff;
  padding: 15px;
}

.img-item-video-up .video-img .box-i {
  width: 100%;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000002e;
  cursor: pointer;
  overflow: hidden;
}

.img-item-video-up .video-img .box-i:hover > img {
  opacity: 1;
}

.img-item-video-up .video-img .box-i img {
  width: auto;
  height: auto;
  margin: auto;
  opacity: 0.8;
}

.img-item-video-up .video-img .box-i iframe {
  width: 100%;
  height: 100%;
}

.img-item-video-up .video-img a img {
  width: 100%;
  height: auto;
}

.title-item-video-other {
  padding: 10px 0px;
}

.title-item-video-other a {
  font-style: 14px;
  color: #000;
}

/*video*/

/*search*/

.flex-col .form-search-inmobile > button {
  width: 100%;
  text-align: right;
}

@media (max-width: 480px) {
  .map-search {
    width: 100%;
    height: 470px;
    background-color: #f1f1f1;
    margin-top: 90px;
  }
  .search-width-googlemap .col-list-address {
    left: 0px;
    position: fixed;
  }
  .btn-show-all-address {
    position: fixed;
  }
  .box-searchResults {
    left: 0px;
    width: 100% !important;
  }
}

ul .not-found-search {
  padding-top: 20px;
}

.box-searchResults {
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  top: 36px;
  z-index: 9999;
  width: 100%;
}

#searchForm {
  position: relative;
}

#searchResults {
  display: none;
  width: 100%;
  padding-right: 10px;
  top: 37px;
  left: -15px;
  max-height: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0px 3px 5px #999;
  background: #fff;
  min-height: 300px;
}

#searchResults .result-group {
  padding: 5px 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#searchResults .result ul {
  list-style: none;
  margin-left: 15px;
}

.result-item a {
  padding: 7px 0px;
  display: block;
  color: #4f4f4f;
}

.result-item a:hover {
  background: #ebebeb;
  padding: 7px 15px;
  margin-left: -15px;
  margin-right: -15px;
}

/*search*/

.page-goi-y .item-info-donhang .title {
  margin-bottom: 0px;
}

.some-product .product .img-thumb {
  height: 200px;
  overflow: hidden;
}

body .search-width-googlemap .ds-addres-shop .item-address .title .star {
  margin-left: 0px;
}

.box-search-active > #view-all-search {
  display: block;
}

#view-all-search {
  cursor: pointer;
  padding: 7px 0px;
  text-align: center;
  background: var(--default-color);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  display: none;
}

.box-search-active > .item-address {
  display: none;
}

.box-search-active > .active {
  display: flex;
}

body .info-map {
  min-width: 270px;
  border: 0px !important;
}

/*.ds-addres > .active {
    background: var(--default-color)82;
}*/

.wishlist .active .fa-heart {
  color: #f00;
  font-size: 18px;
}

body .load-like-login {
  width: 290px;
  padding: 20px;
  margin-left: calc(50% - 145px);
}

.load-like {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100px;
  margin-left: calc(50% - 50px);
  height: 100px;
  padding-top: 27px;
  border-radius: 15px;
  margin-top: calc(50vh - 150px);
  z-index: 9999;
  background: var(--default-color);
  display: none;
  color: #fff;
  font-size: 20px;
  /*  -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(1) translateY(0px);
     transform: scale(1,0) translateY(0px); 
    -webkit-transition: all .6s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    transition: all .6s cubic-bezier(0.6,0,0,0.6),opacity .6s ease-out;*/
}

td > .rate-product4 {
  line-height: 36px;
  height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 3px;
  background-color: var(--default-color);
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff !important;
  font-size: 13px;
  display: inline-block;
  padding: 0px 20px;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  border: none;
  margin-bottom: 11px;
  border: 1px solid var(--default-color);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  margin-left: 20px;
}

.donhang-chuanbi .btn-table-donhang a {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  margin: 15px 0px 0px 0px;
}

.form-fixed a {
  cursor: pointer;
}

.infor-buyer-store .right-social-box {
  float: left;
}

.count-shop-mobile p {
  padding: 15px 0px;
  font-size: 14px;
  background: var(--default-color);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.count-shop p {
  padding: 15px 0px;
  font-size: 18px;
  background: var(--default-color);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.not-footer {
  clear: both;
  height: 100px;
}

@media (max-width: 480px) {
  .cate-sub-index {
    display: none;
  }
  .product-inhome .list-product-inhome-mobile .item-product-inhome h3 {
    height: 38px;
  }
}

@media (max-width: 450px) {
  body .botom-form a {
    width: 42%;
    float: left;
    margin-left: 7.5% !important;
    /* margin: 5px 0px !important; */
  }
  body .botom-form {
    padding: 0px 0px 20px;
  }
  body .scroll-top-btn {
    bottom: 20px;
    cursor: pointer;
    left: 10px;
    position: fixed;
  }
}

.botom-form {
  padding: 0px 50px 40px;
}

.form-group.required label:after {
  content: "(*)";
  color: red;
  margin-left: 5px;
}

.required {
  color: unset !important;
}

@media (max-width: 767px) {
  body .ctn-form .item-input-form .group-input .full-input {
    margin-bottom: 7px;
  }
  /*body .form-group {
        margin-bottom: -15px;
    }*/
  body .item-popup a {
    height: auto;
    display: unset;
    min-height: 200px;
  }
}

body .fa-chevron-right:before {
  /*content: ">>";*/
}

body .fa-chevron-left:before {
  /*content: "<<";*/
}

.ctn-form .item-input-form .item-input-form > label {
  float: left;
  width: 100%;
}

.ctn-form .item-input-form .item-input-form > .bold {
  float: left;
  width: 170px;
}

.share > p {
  font-size: 16px;
  font-weight: bold;
}

body #countdown {
  padding-top: 5px;
  margin-left: 4px;
}

body .right-social-box a {
  font-size: 20px;
}

.tel-phone {
  margin-top: 15px;
  font-size: 16px;
  color: #000;
}

.tel-phone a {
  font-size: 20px;
  color: var(--default-color);
}

/*body .mz-expand .mz-expand-stage.with-thumbs .mz-image-stage {
    padding-bottom: 200px;
}
body .mz-expand .mz-expand-stage .mz-image-stage {
    padding-bottom: 200px;
}*/

.title-detail-product em {
  margin-bottom: 20px;
}

.option-product-detail {
  padding-top: 10px;
}

#fee-ship {
  display: none;
}

.number-index-shop {
  position: absolute;
  right: -3px;
  background: #fff;
  border: 1px solid yellow;
  display: block;
  padding: 0px 6px;
  top: -3px;
  border-radius: 50%;
}

.item-product-inhome .price a {
  color: #262261;
  font-size: 14px;
}

.item-price-product p a {
  font-size: 20px;
  color: #ff0000;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
}

.nice-selects .lists {
  background: #fff;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.nice-selects .lists li {
  list-style: none;
  padding-left: 10px;
}

.nice-selects .lists li:hover {
  background: #ebebeb;
}

.nice-selects {
  z-index: 1;
}

.nice-selects .option-1s .lists {
  display: none;
}

.nice-selects .lists .active .lists {
  display: list-item;
}

.box-select-province {
  display: none;
}

.open .box-select-province {
  display: block;
}

.open2 .box-select-province {
  display: block;
}

.title-detail-product .nice-select.transport-method .current {
  padding-left: 130px;
}

.title-detail-product h2 {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 25px;
  color: #333;
  font-family: "Roboto";
}

.item-review-customer {
  z-index: 1;
}

textarea {
  padding: 10px;
}

.ctn-review-popup {
  min-height: 60vh;
  position: relative;
  z-index: 1;
}

.item-product-inhome .shop {
  height: 22px;
  line-height: 20px;
  float: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 5px;
}

.item-product-inhome .shop a {
  color: #262261;
  font-size: 13px;
}

.item-product-inhome .marker {
  color: #000;
  font-size: 13px;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.non-active a {
  font-size: 15px;
  font-weight: 700;
  color: #777 !important;
}

.non-active i {
  margin-right: 5px;
}

/*.item-product-inhome h3 {
    height: 39px;
}*/

.col-md-55 {
  min-width: 100px;
}

body .table-buyer .col-md-55 {
  width: 25% !important;
}

body .table-buyer .mask {
  height: 25px;
}

body .table-buyer .tools-bottom {
  width: 100%;
}

.table-buyer form > .item-input-form .boxuploadfile {
  width: 100%;
  position: unset;
}

body .table-buyer .thumbnail img {
  max-height: 95px;
}

@media (min-width: 767px) {
  .eror-img {
    position: absolute;
  }

  .ctn-form .item-input-form .group-input .full-input .nice-select span.current {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 2px;
  }
}

.eror-img {
  z-index: 1;
  right: 0px;
  top: 6px;
  color: red;
}

.box-file-item {
  position: relative;
}

.xuhuong-timkiem {
  margin: 0px;
  padding: 0px;
}

body .list-xuhuong {
  padding: 0px;
}

.img-detail-product .certificate {
  position: absolute;
  z-index: 2;
}

.big-img .sale-label {
  background: url(../images/icon-sale.png) center center no-repeat;
  position: absolute;
  top: 1px;
  right: 0;
  width: 48px;
  height: 45px;
  padding-top: 13px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  z-index: 2;
  background-size: 98%;
}

.row-5 > .col-lg-2,
.row-5 > .col-md-3 {
  padding: 5px;
}

.crop-left {
  z-index: 1;
}

/*body .item-product-inhome .price del {
        margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
    color: red;
}*/

#footer .width-full-footer .forms {
  position: relative;
  margin-bottom: 15px;
}

#login-box-popup .bg-pop-white .button-facebook > a,
#register-box-popup .bg-pop-white .button-facebook > a {
  width: 100%;
  height: 63px;
  background: #3c5a99;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 21px;
}

.hover-mo:hover {
  opacity: 0.6;
}

body .banner-inpage-gca .ctn-banner-inpage .register-now {
  margin-bottom: 0px;
}

body .banner-inpage {
  margin-bottom: 0px;
}

.categories-product-page {
  padding-bottom: 40px;
}

#box-slider-product-index .slick-next:after {
  content: "";
  position: absolute;
  left: 18px;
  top: 16px;
  height: 13px;
  width: 1px;
  background: #000;
  transform: rotate(45deg);
}

#box-slider-product-index .slick-next:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 8px;
  height: 13px;
  width: 1px;
  background: #000;
  transform: rotate(-45deg);
  opacity: 1;
}

#box-slider-product-index .slick-prev:after {
  content: "";
  position: absolute;
  left: 18px;
  top: 16px;
  height: 13px;
  width: 1px;
  background: #000;
  transform: rotate(-45deg);
}

#box-slider-product-index .slick-prev:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 8px;
  height: 13px;
  width: 1px;
  background: #000;
  transform: rotate(45deg);
  opacity: 1;
}

#box-slider-product-index .slick-next {
  width: 37px;
  height: 37px;
  background: #fff;
  box-shadow: 0px 0px 6px #ccc;
  z-index: 99;
  border-radius: 50%;
  right: -18px;
  top: 45%;
}

#box-slider-product-index .slick-prev {
  width: 37px;
  height: 37px;
  background: #fff;
  box-shadow: 0px 0px 6px #ccc;
  z-index: 99;
  border-radius: 50%;
  left: -18px;
  top: 45%;
}

.content-intro-store {
  padding-bottom: 40px;
}

.content-intro-store .item-img {
  height: 125px;
  display: flex;
  overflow: hidden;
  padding: 4px;
}

.content-intro-store .item-img img {
  margin: auto;
}

.content-intro-store .item-img a {
  height: 100%;
  overflow: hidden;
  border: 1px solid #ebebeb;
  display: flex;
  width: 100%;
}

.clear {
  clear: both;
  padding-top: 20px;
}

.box-index {
  /*opacity: 0; */
  display: none;
}

.mz-image-stages {
  margin-top: 20px;
}

.box-index .box {
  height: 100vh;
  padding: 30px;
  display: flex;
}

.box-index .box img {
  margin: auto;
}

.mz-image-stage .mz-caption {
  display: none !important;
}

.item-cate-menu .vertical {
  display: block;
  height: 100%;
  width: 100%;
}

.middle {
  /*display: block;
    padding: 10px;
    height: 100%;
    width: 100%;*/
}

.cate-menu-inhome .list-cate-menu .item-cate-menu .img img {
  object-fit: cover;
  height: 100%;
  object-position: center;
  max-height: 72px;
}

.scroll-top-btn {
  z-index: 999999;
}

.scroll-top-btn {
  bottom: 5%;
  cursor: pointer;
  left: 10px;
  position: fixed;
}

@media (min-width: 1200px) {
  body #footer h2 {
    font-weight: 500;
  }
}

.right-top-header span ul {
  display: none;
  position: absolute;
  width: 200px;
  padding: 10px;
  left: 0px;
  z-index: 1;
  background: var(--default-color);
  top: 16px;
}

.right-top-header span {
  position: relative;
}

.right-top-header span:hover ul {
  display: block;
}

/*.top-header .right-top-header span, .top-header .left-top-header span {
    color: #fff;
    font-size: 13px;
    margin-left: 17px;
    position: relative;
}*/

.right-top-header span ul li a {
  padding: 7px;
  display: block;
}

.glyphicon-pencil:before {
  content: "\00270e";
}

.glyphicon-trash:before {
  content: "\01F5D1";
  color: red;
  font-size: 25px;
  padding: 0px 7px;
}

.grid-view .glyphicon {
  margin-left: 5px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.banner-store {
    height: 275px;
}*/

@media (min-width: 1200px) {
  .page-store .section-intro .right-intro .bottom-right-intro {
    float: left;
    width: 75%;
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    background: #fff;
  }
}

.page-store .section-intro {
  position: relative;
}

.paginate {
  clear: both;
}

.upcase {
  text-transform: uppercase;
}

.theme-krajee-svg.rating-xs .krajee-icon {
  width: 15px;
  height: 15px;
  background-size: cover;
}

body .rating-xs {
  font-size: 15px;
}

.field-rating-rating {
  display: inline-block;
}

.btn-style-1 {
  border: 0px;
}

.interview {
  cursor: pointer;
}

.chang-product-home {
  cursor: pointer;
}

.slick-track {
  float: left;
}

.show-ctn a {
  white-space: nowrap;
}

body .btn-add-price {
  width: 90px;
  background: unset;
  position: absolute;
  right: 0px;
  bottom: 6px;
}

.btn-add-price a {
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: var(--default-color);
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px;
  float: left;
}

body .box-banbuon .row {
  width: Calc(100% - 90px);
}

.box-banbuon {
  position: relative;
}

body .btn-submit-form button {
  border: none;
  margin-right: 15px;
}

body .btn-submit-form button {
  line-height: 52px;
  height: 46px;
  width: 100%;
  max-width: 150px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 5px;
  background-color: #63a947;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  color: #fff !important;
  font-size: 14px;
  display: inline-block;
  padding: 0px 15px;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

.search-engine a,
.box-advanced-search a {
  white-space: nowrap;
  margin-right: 8px;
  cursor: pointer;
}

.dropdow-lv1 {
  /*width: 100%;*/
}

.dropdow-lv1 ul {
  /*min-width: 100%;*/
}

body .cate-search-engine .dropdow-lv1 ul li:hover .dropdown-cate {
  left: 100%;
  height: 100%;
}

body .cate-search-engine .dropdow-lv1 ul {
  height: unset;
  min-height: 323px;
}

/*.form-create-store {
    min-height: 50vh;
}*/

.hidden {
  display: none !important;
}

.fix-img-avatar,
.fix-img-bg {
  cursor: pointer;
}

.alert {
  margin: 0px 50px 20px;
  text-align: center;
  animation: fadeOut 5s ease forwards;

}
/* Keyframes for fading out */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none; /* Optional: hide element to prevent interaction */
  }
}
.btn-set-default {
  text-align: center;
}

.click {
  cursor: pointer !important;
}

.add-product-managers {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 2px;
}

.add-product-managers button {
  height: 100%;
  width: 100%;
  background: #fff;
  border: 1px dashed #ccc;
}

.ctn-trick-faq h2 {
  margin-top: 0px;
}

.tags_product {
  float: left;
}

.shopping-cart-page
  .cart-droplist
  .mini-list
  .list-item-cart
  .item
  .product-image {
  height: 50px;
}

@media (max-width: 1200) {
  .banner-store {
    height: 280px;
    overflow: hidden;
    margin-bottom: 53px;
    position: relative;
  }
  body .banner-store img {
    float: unset;
    position: absolute;
    object-position: center;
    height: 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    width: auto !important;
  }
}

.btn-table-donhang .col-lg-6 {
  text-align: center;
}

.open-fixed {
  cursor: pointer;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
html,
body {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
  margin: 0;
}

.col1 {
  width: 8.33%;
}

.col2 {
  width: 16.66%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col5 {
  width: 41.66%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33%;
}

.col8 {
  width: 66.66%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33%;
}

.col11 {
  width: 91.66%;
}

.col12 {
  width: 100%;
}

.show479 {
  display: none;
}

.fullwidth {
  width: 100%;
}

body .show-ctn {
  top: 20px;
}

/*contact*/

.page-contact {
  padding: 15px 30px;
}

/*.page-contact li {
        list-style: none;
        padding: 10px 0px;
    }*/

.page-contact input {
  height: 40px;
  margin: 10px 0px !important;
  padding: 0px 10px;
}

.page-contact textarea {
  height: 250px;
  padding: 10px;
}

.ovalbutton {
  background: var(--default-color);
  color: #fff;
  padding: 7px 25px 8px 25px;
  margin-right: 10px;
  margin-top: 0px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
}

.page-contact form {
  overflow: hidden;
  clear: both;
}

.page-contact .pb15 .right {
  text-align: center;
  margin-top: 25px;
}

/*.page-contact h2 {
        font-size: 30px;
        padding: 30px 0px 10px;
        border-bottom: 1px solid;
        margin-bottom: 30px;
    }*/

.pd-20 {
  padding: 20px 0px;
}

.boxsss {
  padding: 1px;
}

.instroduce h3 {
  font-size: 18px;
}

.news-index .list-news-incate .item-news-incate .img a {
  overflow: hidden;
}

.news-index .list-news-incate .item-news-incate .img a img {
  max-width: unset;
}

/*.middle {
        padding: 10px;
    }*/

.page-contact {
  overflow: hidden;
}

/*end contact*/

/*signup*/

.signup {
  clear: both;
  padding: 40px 0px;
}

.site-register .push-top-10,
.site-register .btn {
  margin-top: 10px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.site-register .push-top-10,
.site-register .btn-google {
  background: #dd4b39;
  color: #fff !important;
  padding: 7px 35px;
}

.site-register .push-top-10,
.site-register .btn-facebook {
  background: #3b5998 !important;
  padding: 23px 12px;
}

.site-register .form-control {
  width: 100%;
  height: 53px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 0px 20px;
  margin-bottom: 22px;
}

.site-register .awe-check .checkbox label::after {
  padding-left: 0px;
}

.site-register .bg-pop-white h2 {
  color: var(--default-color);
  font-weight: 400;
  margin: 20px 0px 5px 0px;
}

.site-register .btn-signups {
  width: 100%;
  height: 63px;
  background: var(--default-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.xuhuong-timkiem {
  margin-bottom: 30px;
}

.list-xuhuong .item-cate-menu .img {
  height: 100px;
}

.list-xuhuong {
  margin-bottom: 0px;
  padding-top: 0px;
}

.xuhuong-timkiem .title-standard {
  padding-bottom: 15px;
}

.item-product-inhome .img {
  position: relative;
  float: left;
  width: 100%;
  padding: 50%;
}

.item-product-inhome .img a {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 100% !important;
  width: 100% !important;
}

.item-product-inhome .img img {
  height: 100%;
  min-width: initial;
  object-fit: cover;
}

@media (max-width: 992px) {
  .wapper {
    overflow: hidden;
  }
  .box-advanced-search.active {
    background: #fff;
    z-index: 9999999;
  }
}

@media (max-width: 480px) {
  .number-index-shop {
    /* display: none !important;  */
    border: 0px;
  }
  #main {
    margin-top: 0px !important;
  }
  .banner-inhome {
    margin-top: 70px !important;
  }
}

.not-index.front-back-page {
  padding-top: 40px;
}

body .fix-all {
  position: relative;
  height: 43px;
  top: 0px;
}

body .fix-all.fixed {
  position: fixed;
}

.front-back-page .come-home ul li a {
  font-size: 14px;
}

.front-back-page .come-home .btn-menu-back-home span {
  margin-bottom: 3px;
}

.front-back-page .title-back-page .back-btn a {
  color: #333;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  text-align: left;
}

/*promition*/

.selling {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  /*border: 1px solid var(--default-color);*/
  height: 23px;
  color: #fff;
  border-radius: 6px;
  background: var(--default-color);
  position: relative;
  font-weight: bold;
  overflow: hidden;
}

.selling span {
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  left: 0px;
  margin-top: 1px;
}

.seller {
  background: #d22222;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 23px;
  /*width: 20px;*/
  border-radius: 6px 0px 0px 6px;
}

.btn-sell-promotion {
  margin-left: 5px;
  padding: 9px 4px;
  font-weight: bold;
  background: #ff5722;
  color: #fff;
}

.btn-sell-promotion:hover {
  background: #c74b24;
}

.item-product-promotion .price {
  font-weight: bold;
  font-size: 18px;
  color: #ff5722;
  margin-bottom: -6px;
  /*text-align: center;*/
}

body .item-product-promotion .img a {
  max-height: 300px;
}

.box-promotion-time-sapce .tab-cate-product {
  text-align: center;
  display: flex;
}

.box-promotion-time-sapce .slide-tab-cate {
  display: inline-block !important;
  margin: auto;
  width: auto !important;
}

.box-promotion-time-sapce .middle {
  font-size: 16px;
  font-weight: bold;
}

.box-promotion-time-sapce .tab-cate-product ul li h2 {
  font-size: 16px;
  color: var(--default-color);
  font-weight: bold;
}

.box-promotion-time-sapce .tab-cate-product ul li {
  padding: 5px 45px;
}

#box-load-search > img {
  width: initial;
  height: initial;
}

/*info shop*/

.item-level a img {
  width: 30px;
  height: 30px;
}

.item-level a span {
  font-weight: normal;
  color: #000;
}

.item-level a {
  margin-bottom: 7px;
  display: block;
}

.yser-shop {
  font-size: 18px;
  color: var(--default-color) !important;
  font-weight: bold;
  position: relative;
  padding: 3px 36px 3px 14px;
  background: #ffe4004d;
  border-radius: 20px;
  margin-right: 12px;
}

.yser-shop span {
  position: absolute;
  top: 2px;
  left: 26px;
  font-size: 13px;
  font-weight: normal;
  color: var(--default-color) !important;
}

/* end info shop*/

/*new*/

body .news-relate .img-item-news {
  height: 200px;
}

body .fancybox-overlay-fixed {
  z-index: 99999;
}

/*#box-cr-popupss {
        background: #fff;
    }*/

body .popup-ctn-sapphire img {
  border: 0px;
}

.page-store .section-intro .left-intro a {
  color: var(--default-color);
}

.actived a {
  color: var(--default-color) !important;
}

.offline {
  color: #ff0000 !important;
}

.fancybox-opened {
  z-index: 999999999;
}

.comment-store {
  color: #fff !important;
}

body .page-store .section-intro .left-intro .btn-member-active a {
  width: Calc(44% - 8px);
}

.content-section2 #countdown span b {
  color: #fff !important;
}

.olw-promotion .owl-nav .owl-prev {
  left: 19px !important;
}

.olw-promotion .owl-nav .owl-next {
  right: 19px !important;
}

.item-info-donhang {
  position: relative;
}

/* .tab-menu-read-1 .item-info-donhang::before,
.tab-menu-read-2 .item-info-donhang::before,
.tab-menu-read-3 .item-info-donhang::before {
  content: "";
  display: inline-block;
  background: url(../images/chua_thanh_toan.jpg);
  width: 121px;
  height: 104px;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 96px;
  left: 158px;
  opacity: 0.5;
}

body .tab-menu-read .payment_status::before {
  content: "";
  display: inline-block;
  background: url(../images/dathanhtoan.png);
  width: 121px;
  height: 104px;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 105px;
  left: 158px;
  opacity: 0.5;
} */

.count-notinfycation {
  /*background: #F44336;
        border-radius: 50%;
        color: #fff;*/
  color: red;
  padding: 0px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  /*margin-left: 10px;*/
  text-align: center;
  font-weight: bold;
}

.mfp-wrap {
  top: 15px !important;
  height: 100% !important;
  z-index: 999999999;
  position: fixed !important;
  outline: none !important;
  max-height: 85%;
  overflow-y: scroll;
}

body .bottom-item-info-donhang .code-donhang a {
  padding: 0px 10px;
}

.wish-list {
  position: relative;
}

.wish-list .wish-list-index {
  position: absolute;
  left: 5px;
  top: -6px;
  background: #edcd5a;
  width: 13px;
  height: 13px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  color: #000;
  line-height: 13px;
}

.item-product-inhome .img .hidden-loading-content > a {
  padding: 0px 5px;
}

.gm-ui-hover-effect {
  right: 2px !important;
}

.boxloading {
  position: fixed;
  z-index: 99999;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #0000000d;
}

.boxloading img {
  margin: auto;
  width: auto;
  height: auto;
}

@media (max-width: 767px) {
  .box-shadow-payment {
    margin-bottom: 5px;
  }
  body .box-shadow-payment .address-ship-content {
    padding: 0px 0px;
  }
}

.infor-news-detail .content-standard-ck img {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
}
/* tooltip */
.ctooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.ctooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #283891;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ctooltip:hover .tooltiptext {
  visibility: visible;
}
/* tooltip */

/* fix an */
.share .info-afffilate {
  display: none;
}
.coin-user-shop {
  display: none;
}
.header_vvn .nav_main .search-2 {
  border-right: none;
}

.main_vvn .giohang ul li {
  text-align: center;
  border-top: none;
}
.main_vvn .giohang ul li img {
  width: auto;
}
.header_vvn .nav_bottom .container > ul > li .danhmuc {
  max-height: 530px !important;
  overflow-x: hidden;
}
/*.header_vvn .nav_bottom .danhmuc li:last-child {*/
/*    position: absolute;*/
/*    bottom: -35px;*/
/*    z-index: 9999;*/
/*    background: #fff;*/
/*    width: 100%;*/
/*}*/

.header_vvn .nav_bottom .container > ul > li .danhmuc::-webkit-scrollbar {
  width: 0;
  height: 5px;
  background-color: #f5f5f5;
}

.header_vvn .nav_bottom .container > ul > li .danhmuc::-webkit-scrollbar-thumb {
  background-color: red;
  border: 1px solid #555555;
}
.header_vvn .nav_bottom .container > ul > li .danhmuc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}
.header_vvn .nav_bottom .danhmuc a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.cart-mini .uk-dropdown .title {
  text-align: left;
}
.btn_shopping_cart:hover .cart-mini {
  display: block;
}
.cart-mini {
  top: 45px;
}
.header_vvn .nav_main .name_view a {
  color: #4f4f4f;
}
.header_vvn .nav_main .name_view a:hover {
  color: var(--default-color);
}
.header_vvn .nav_main .view_product .tooltip_view .img_view img {
  height: 80px;
  width: 100%;
}
.header_vvn .nav_main .view_product .tooltip_view .img_view {
  width: 80px;
  height: auto;
}
.header_vvn .nav_main .view_product .tooltip_view .name_view {
  width: calc(100% - 90px);
}
.detail-product-page .description-product ul {
  padding: 0;
}

.footer_vvn .footer-bottom form {
  display: block;
  overflow: inherit;
  position: relative;
}
#error-mail-contact {
  color: red;
  position: absolute;
  bottom: -20px;
  z-index: 999999999;
}
.footer_vvn .footer-bottom form button {
  position: absolute;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer_vvn .footer-bottom form input {
  padding-right: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.footer_vvn .footer-bottom > div:nth-child(3) {
  max-width: 447px;
  width: 100%;
}

.footer_vvn .footer-bottom h4 img {
  margin-right: 5px;
}
.main_vvn .loaisp .card-loaisp .card_text .card_text_fake {
  position: absolute;
  right: 10px;
  margin-top: 2px;
}
.main_vvn .btn-xemthem_loaisp {
  margin-top: 10px;
}
.main_vvn .banner_slide {
  justify-content: flex-end;
  /* gap: 5px; */
  margin-left: -1.1px;
}
.user_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user_header img {
  margin-left: 5px;
}
.user_header .show-ctn {
  top: 33px;
  right: -80px;
  left: inherit;
}
.user_header .show-ctn a {
  font-size: 14px;
}
.awe-check .checkbox {
  margin-bottom: 0;
  padding-top: 0;
}
.m-b-25 {
  margin-bottom: 25px;
}
.header_vvn {
  z-index: 999999;
}
.main_vvn
  .tintuc-sukien_vvn
  .main_tintuc-sukien
  .right-main
  .tinkhac
  .video-play
  img,
.main_vvn
  .tintuc-sukien_vvn
  .main_tintuc-sukien
  .right-main
  .tinkhac
  .img-tinkhac
  img {
  border-radius: 5px;
}
.bg-pop-white:after {
  display: none;
}
.main_vvn .loaisp .card-loaisp .like a {
  color: #e0e0e0;
}
.main_vvn .loaisp .card-loaisp .like a:hover,
.main_vvn .loaisp .card-loaisp .like a.active {
  color: #f00;
}
.main_vvn .loaisp .card-loaisp:hover .like {
}
.main_vvn .loaisp .card-loaisp:hover {
  transform: inherit;
}
.main_vvn .loaisp .card-loaisp .like {
  top: 5px;
}
.main_vvn
  .tintuc-sukien_vvn
  .main_tintuc-sukien
  .item-tinphu
  .detail_tinphu
  h4:hover {
  font-weight: inherit;
}
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien h4 a {
  color: #5a5a5a;
}
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien h4 a:hover {
  color: var(--default-color);
}
.header_vvn .nav_bottom .container > ul {
  margin-bottom: -1px;
  justify-content: left;
}
.alert.alert-success {
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
}

.search-width-googlemap .item-product-inhome.relative {
  height: auto;
  min-height: 400px;
}
@media (min-width: 576px) {
  .news-relate .slide-news-relate {
    display: flex;
  }
}

@media (max-width: 575px) {
  .main_vvn #slider-mobile {
    padding: 0 10px;
  }
  .header_vvn .nav_main .container {
    padding: 0 5px;
  }
  .header_vvn .nav_main .icon-bar-menu .menu-mobile {
    top: 110px;
  }
  .tintuc-index .container {
    padding: 0;
  }
  .news-relate .slide-news-relate {
    margin: 0;
  }
  .news-relate .item-news-relate {
    padding: 0 15px;
    border: none;
    margin-bottom: 10px;
  }
  .news-relate .title-standard {
    border: none;
  }
  body .news-relate .img-item-news {
    padding-top: 15px;
  }
  .detail-product-page .container {
    padding: 0;
  }

  .item-product-inhome .price {
    position: relative;
    font-size: 16px;
  }
  .item-product-inhome .price del {
    position: unset !important;
    right: 5px;
    width: auto;
    float: none;
    top: 5px;
    margin-left: 0;
  }
  .item-product-inhome .marker {
    margin: 0;
    padding: 0 5px !important;
  }
  .item-product-inhome.relative {
  }
  .categories-product-page .section-product .container {
    padding: 0;
  }
  .quality-product-detail input {
    margin-top: 0;
    padding-top: 7px;
  }
  .btn_count .increase,
  .btn_count .reduced {
    top: 7px;
  }
  .item-option-product-detail label {
    margin-top: 8px;
  }
  .cart-mini {
    display: none !important;
  }
}
@media (min-width: 756px) {
  .fixed .header_vvn .nav_main {
    padding: 0;
  }
  .fixed .header_vvn .nav_main .nav_main_1 {
    /* zoom: 0.8; */
  }
}

.fixed .header_vvn .nav_main,
.fixed .header_vvn .nav_top {
  opacity: 1;
}
.fixed .header_vvn {
  top: 0;
  position: fixed;
  z-index: 99999;
  width: 100%;
  transition: 0.5s;
}
.item-product-inhome .price del {
  /* position: absolute; */
  display: block;
  margin-left: 0 !important;
}

.main_vvn .giohang > div:hover ul {
  max-height: 300px;
  overflow-x: hidden;
}
.main_vvn .giohang > div:hover ul::-webkit-scrollbar {
  width: 0;
  height: 5px;
  background-color: #f5f5f5;
}

.main_vvn .giohang > div:hover ul::-webkit-scrollbar-thumb {
  background-color: red;
  border: 1px solid #555555;
}
.main_vvn .giohang > div:hover ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}
.bor_ {
  border-right: 1px solid #828282;
  height: 15px;
  margin: 0 10px;
}

.header_vvn .nav_top a:hover {
  color: var(--default-color);
}
.header_vvn .nav_bottom .container > ul > li:hover {
  transform: inherit;
  transition: inherit;
  background: none;
}
.header_vvn .nav_bottom .container > ul > li a:hover {
  color: var(--default-color);
}
.header_vvn .nav_bottom .active a.white {
  color: #fff !important;
}
.list-lienhe ul li {
  cursor: pointer;
  padding: 0;
}
.list-lienhe ul li a {
  float: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer_mobile .menu_bottom_mobile li .click_footer-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .item-tinphu .detail_tinphu,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .item-tinphu .img_tinphu > a,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .item-tinphu .img_tinphu {
  width: 100%;
}
@media (max-width: 1000px) {
  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .item-tinphu .img_tinphu {
    height: 140px;
    margin-right: 0;
    border-radius: 8px;
  }
  .banner-inpage-gca .ctn-banner-inpage h2 {
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .banner-inpage-gca .ctn-banner-inpage h2 {
    font-size: 24px;
  }
  .header_vvn .nav_top .nav_item:last-child,
  .header_vvn .nav_top .nav_item ul {
    display: grid;
  }
  .header_vvn .nav_top .nav_item ul .logo-mobile {
    order: 2;
  }
  .header_vvn .nav_top .nav_item ul li.muaban {
    display: block !important;
    order: 1;
  }
  .header_vvn .nav_top .nav_content {
    align-items: flex-start;
  }
  .user_header {
    justify-content: flex-end;
  }
  .header_vvn .nav_main .search_item:first-child {
    display: flex;
    height: 100%;
  }
  .header_vvn .nav_main .search-1 {
    width: 100%;
    height: 100%;
    zoom: 0.85;
  }
  .list_post_news .filter {
    display: grid !important;
  }
  .list_post_news .filter > div {
    float: none !important;
    margin-bottom: 12px;
  }
  .list_post_news .filter > div:last-child {
    margin-bottom: 0;
  }
  .list_post_news .form-search > div {
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .user_header .show-ctn {
    right: -35px;
  }
}

@media (max-width: 500px) {
  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .item-tinphu .img_tinphu {
    height: 110px;
    border-radius: 4px;
  }
  .header_vvn .nav_main .search-1.nice-select {
    padding-left: 8px;
    padding-right: 20px;
  }
  .header_vvn .nav_main form {
    width: calc(100% - 55px) !important;
  }
  .header_vvn .nav_main .search_bar {
    zoom: 0.8;
  }
  .header_vvn .nav_top .container {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .left-tinchinh {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: reverse;
}
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_left-tinchinh,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_right-tinchinh,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_left-tinchinh > a,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_right-tinchinh > a,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_left-tinchinh > a img,
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .img_right-tinchinh > a img {
  width: 100%;
}
.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .left-tinchinh {
  max-width: calc(70% - 20px) !important;
}

.main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .right-tinchinh {
  max-width: 30% !important;
}

@media (max-width: 1199px) {
  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .left-tinchinh {
    max-width: calc(60% - 20px) !important;
  }

  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .right-tinchinh {
    max-width: 40% !important;
  }
}

@media (max-width: 580px) {
  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .left-tinchinh,
  .main_vvn .tintuc-sukien_vvn .main_tintuc-sukien .right-tinchinh {
    max-width: 100% !important;
  }

  .close-button {
    transform: translate(10px, -10px);
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .header_vvn .nav_main .icon-bar-menu .menu-mobile {
    top: auto;
    bottom: 0;
    padding-bottom: 45px;
  }

  .header_vvn .nav_main .icon-bar-menu .menu-mobile .close-menu_vvn {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .banner-inpage-gca .ctn-banner-inpage h2 {
    font-size: 20px;
  }
}

.item-price-product p {
  text-transform: math-auto;
}

#owl-detail {
  width: 100%;
}
#owl-detail .open-video,
#owl-detail .open-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  height: auto;
}
#owl-detail .open-video img,
#owl-detail .open-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.owl-carousel .owl-stage{
  display: flex;
}

.banner_slide .owl-carousel .owl-stage{
  display: block;
}