#link2 table{
    margin-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid #ececec;
    display: flex;
    }
    #link2 table thead{
        width: 50%;
        font-size: 14px;
    }
    #link2 th{
        padding: 8px 8px 8px 0;
        text-align: left;
    
    }
    #link2 td{
        padding: 8px 8px 8px 0;
        text-align: left;
    }
    #link3{
        padding-bottom: 30px;
       }
       #link3 .comments h3{
           margin-bottom: 10px;
       }
       #link3 .comments p{
           margin-bottom: 20px;
       }
       #link3 .comment-form-wrapper{
           border: 2px solid #09751a;
       }
       #link3 .comment-form-wrapper .comment-respond{
           padding: 15px 30px 30px;
       }
       .comment-respond-title{
           color: #555;
           margin-bottom: 10px;
       }
       .comment-form{
       
       }
       .comment-form label{
           color: #222;
           font-weight: bold;
           display: block;
           font-size: 14px;
           margin-bottom: 6px;
       }
       .product-item-rating-selected{
          
           line-height: 34px;
           margin-bottom: 8px;;
       }
       .product-item-rating-selected .product-item__rating:first-child{
           border: 0;
           margin-left: -10px;
       }
       .product-item__rating{
           color: #D5D5D5;
           position: relative;
           display: inline-block;
           font-size: 13px;
           border-left: 1px solid #ececec;
           margin-left: 4px;
       }
       .product-item__rating.active{
           color: #d26e4b;
       }
       .product-item__rating:hover{
           color: #d26e4b;
       }
       .product-item__rating i:first-child{
           margin-left: 10px;
       }
       textarea{
           min-height: 120px;
           box-sizing: border-box;
           border: 1px solid #ddd;
           padding: 10px 12px !important;
           margin-bottom: 22px !important;
           font-size: 13px;
           border-radius: 0;
           max-width: 100%;
           width: 100%;
           vertical-align: middle;
           background-color: #fff;
           color: #333 !important;
       }
       textarea:hover{
           box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
       }
       textarea:focus{
           outline: none;
           box-shadow: 0 0 5px #ccc;
       }
       .modal-comment-author{
           display: flex;
           width: 100%;
           justify-content: space-between;
       }
       .modal-comment-author div{
           width: 50%;
       }
       .modal-comment-author div:first-child{
           padding-right: 15px;
       }
       .modal-comment-author div:last-child{
           padding-left: 15px;
       }
       .submit{
        min-width: 90px;
        height: 40px;
        border: none;
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        padding: 0;
        outline: none;
        cursor: pointer;
        color: #333 !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 34px;
        font-size: 16px;
        font-weight: 700;
        background-color: #f0f0f0 !important;
    }
       .btn--primary {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
    .btn--primary:hover {
        background-color: #09751a;
       
    }
    .modal-input {
        outline: none;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px 12px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Works for Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }